@{
    ViewData["Title"] = "Calendar";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/fullcalendar-5.11.3/main.css" rel="stylesheet" />
    <script src="~/lib/fullcalendar-5.11.3/main.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                editable: false,
                nextDayThreshold: "00:00:00",
                selectable: true,
                businessHours: true,
                dayMaxEvents: true, // allow "more" link when too many events
                events: '@Url.RouteUrl(new{ action="GetAllRentalsToJson", controller="VehicleRental"})'
            });

            calendar.render();
        });
    </script>

</head>

<body>

    <div id="calendar"></div>

</body>
</html>